{
  "extends": "airbnb",
  "plugins": [
    "dependencies"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "app",
          "node_modules"
        ]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": ["error", "always"],
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/href-no-hash": 0,
    "import/newline-after-import": 0,
    "dependencies/no-cycles": 1
  },
  "globals": {
    "document": true,
    "window": true
  },
  "env": {
    "jest": true
  }
}
